@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro-Book.ttf") format("truetype"), url("../fonts/Intro-Book.eot") format("eot"), url("../fonts/Intro-Book.woff") format("woff"), url("../fonts/Intro-Book.woff2") format("woff2");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro-Regular.ttf") format("truetype"), url("../fonts/Intro-Regular.oet") format("oet"), url("../fonts/Intro-Regular.woff") format("woff"), url("../fonts/Intro-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro-Bold.ttf") format("truetype"), url("../fonts/Intro-Bold.oet") format("oet"), url("../fonts/Intro-Bold.woff") format("woff"), url("../fonts/Intro-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Centura Round';
  src: url("../fonts/CenturaRoundBlack.ttf") format("truetype"), url("../fonts/CenturaRoundBlack.eot") format("oet"), url("../fonts/CenturaRoundBlack.woff") format("woff");
  font-style: normal;
  font-weight: 800; }
