$orient_width: 91.49px;
$zim_width: 37.79px;
$maersk_width: 124.96px;
$evergreen_width: 158.45px;
$cf_industries_width: 64.97px;

$orient_height: 27.18px;
$zim_height: 37.79px;
$maersk_height: 28.8px;
$evergreen_height: 28.51px;
$cf_industries_height: 25.86px;

$product-box_shift: 314px;
$comment_shift: 1000px;
$category_item_width: 294px;

$color_accent_1: #7BB5B0;
$color_accent_2: #FFE8D3;
$color_dark_turquase: #6CA39E;
$color_secondary_brown: #827570;
$color_accent_dark_pink: #DBBB95;
$color_neutrals_gray: #A6A6A6;
